.page[b-rg5s3rnw5y] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f9;
}

main[b-rg5s3rnw5y] {
    flex: 1;
}

.sidebar[b-rg5s3rnw5y] {
    background-color: #405189;
    color: #dcdcdc;
}

.top-row[b-rg5s3rnw5y] {
    background-color: #ffffff;
    border-bottom: 1px solid #f3f3f9;
    justify-content: flex-end;
    height: 3rem;
    display: flex;
    align-items: center;
}

    .top-row a[b-rg5s3rnw5y], .top-row .btn-link[b-rg5s3rnw5y] {
        white-space: nowrap;
        margin-left: 0rem;
    }

    .top-row a:first-child[b-rg5s3rnw5y] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-rg5s3rnw5y] {
        display: none;
    }

    .top-row.auth[b-rg5s3rnw5y] {
        justify-content: space-between;
    }

    .top-row a[b-rg5s3rnw5y], .top-row .btn-link[b-rg5s3rnw5y] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-rg5s3rnw5y] {
        flex-direction: row;
    }

    .sidebar[b-rg5s3rnw5y] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-rg5s3rnw5y] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-rg5s3rnw5y], article[b-rg5s3rnw5y] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
