@page "/paymentstatus";

<PageTitle>Payment Status Information</PageTitle>

@using System.Security.Claims;

@inject UserService userService;

@inject PaymentStatusService paymentStatusService;
@inject NotificationService Notification;
@inject DialogService Dialog;

<div class="container-fluid">
    <RadzenTemplateForm TItem="PaymentStatus" Data="@objPaymentStatus" Submit=@OnFormSubmit>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add - Payment Status Information</h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <RadzenLabel Text="Payment Status *" />
                                    <RadzenTextBox Name="Status" @bind-Value=@objPaymentStatus.Status MaxLength="20" class="form-control" />
                                    <RadzenRequiredValidator Component="Status" Text="Status is Required" />
                                    <RadzenLengthValidator Component="Status" Min="5" Text="Status should be at least 5 Characters" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="btn-vcenter">
                                        <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </RadzenTemplateForm>


    @* DataGrid Section Starts Here*@
    @*------------------------------------------------------------------------------*@
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">View - Payment Status Information</h4>
                </div>

                <div class="card-body">
                    <RadzenDataGrid Data="@modelData" TItem="PaymentStatus" PageSize="10" AllowPaging="true" ShowPagingSummary="true" AllowSorting="true" ColumnWidth="100%" PagerHorizontalAlign="HorizontalAlign.Left">
                        <Columns>
                            <RadzenDataGridColumn TItem="PaymentStatus" Property="StatusId" Title="STATUS ID" Width="10%" Frozen="true" Visible="false" />
                            <RadzenDataGridColumn TItem="PaymentStatus" Property="Status" Title="STATUS" Width="40%" />
                            <RadzenDataGridColumn TItem="PaymentStatus" Filterable="false" Sortable="false" Width="20%" Title="ACTION" TextAlign="TextAlign.Center">
                                <Template Context="actionRecord">
                                    <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" Click="@((args) =>GridEditButtonClick(args, actionRecord))" @onclick:stopPropagation="true" title="Edit" />
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="@((args) =>GridDeleteButtonClick(args, actionRecord))" @onclick:stopPropagation="true" title="Delete" Disabled />
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    PaymentStatus objPaymentStatus = new();
    IEnumerable<PaymentStatus>? modelData;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthState!).User;
        var userEmail = user.Claims.Where(c => c.Type == ClaimTypes.Name).Select(x => x.Value).FirstOrDefault();
        var userAccount = userService.GetbyUsername(userEmail);
        objPaymentStatus.CreatedBy = userAccount.UserId;

        await LoadDataGrid();
    }

    protected async Task OnFormSubmit()
    {
        try
        {
            var result = await paymentStatusService.Insert(objPaymentStatus);
            if (result == true)
            {
                await LoadDataGrid();
                Reset();
                Notification.Notify(NotificationSeverity.Success, summary: "Record Inserted Successfully");
            }
            else
            {
                Notification.Notify(NotificationSeverity.Warning, summary: "This Record Already Exists");
            }
        }
        catch (Exception ex)
        {
            Notification.Notify(NotificationSeverity.Error, summary: ex.Message);
        }
    }

    protected async Task GridEditButtonClick(MouseEventArgs args, dynamic data)
    {
        var dialogResult = await Dialog.OpenAsync<EditPaymentStatus>("Edit - Payment Status Information", new Dictionary<string, object>() { { "StatusId", data.StatusId } });
        if (Convert.ToBoolean(dialogResult) == true)
        {
            await LoadDataGrid();
        }
    }

    protected async Task GridDeleteButtonClick(MouseEventArgs args, dynamic data)
    {
        try
        {
            if (await Dialog.Confirm("Are you sure you want to delete this record?", "Confirm", new ConfirmOptions() { OkButtonText = "Yes, Delete", CancelButtonText = "No, Cancel" }) == true)
            {
                var result = await paymentStatusService.Delete(data.StatusId);
                Notification.Notify(NotificationSeverity.Success, summary: "Record Deleted Successfully");
                await LoadDataGrid();
            }
        }
        catch (Exception ex)
        {
            Notification.Notify(NotificationSeverity.Error, summary: ex.Message);
        }
    }

    protected async Task LoadDataGrid()
    {
        modelData = await Task.Run(paymentStatusService.SelectAll);
        StateHasChanged();
    }

    private void Reset()
    {
        objPaymentStatus = new PaymentStatus { Status = string.Empty };
    }
}
