@page "/editcurrency/{CurrencyId:int}";

@using System.Security.Claims;

@inject UserService userService;

@inject CurrencyService currencyService;
@inject RecordStatusService recordStatusService;

@inject NotificationService Notification;
@inject DialogService Dialog;

<RadzenContent class="remove-content">
    <ChildContent>
        <RadzenTemplateForm TItem="Currency" Data="@objCurrency" Submit=@OnFormSubmit>
            <div class="row">
                <div class="form-group">
                    <RadzenLabel Text="Currency Name *" />
                    <RadzenTextBox Name="CurrencyName" @bind-Value=@objCurrency.CurrencyName MaxLength="50" class="form-control" />
                    <RadzenRequiredValidator Component="CurrencyName" Text="Currency Name is Required" />
                    <RadzenLengthValidator Component="CurrencyName" Min="10" Text="Currency Name should be at least 10 Characters" />
                </div>

                <div class="form-group">
                    <RadzenLabel Text="Currency Code *" />
                    <RadzenTextBox Name="CurrencyCode" @bind-Value=@objCurrency.CurrencyCode MaxLength="3" oninput="this.value=this.value.toUpperCase()" class="form-control" />
                    <RadzenRequiredValidator Component="CurrencyCode" Text="Currency Code is Required" />
                    <RadzenRegexValidator Component="CurrencyCode" Text="Currency Code must be 3 Alphabets" Pattern="^[A-Z]{3}" />
                </div>

                <div class="form-group">
                    <RadzenLabel Text="Status" />
                    <RadzenDropDown Name="Status" Data="@listRecordStatus" TextProperty="Status" ValueProperty="StatusId" @bind-Value="@((objCurrency.StatusId))" class="form-control" />
                    <RadzenRequiredValidator Component="Status" Text="Select Status" DefaultValue="0" />
                </div>
            </div>

            <div class="row">
                <div class="col offset-sm-3 mt-3">
                    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="Save" Icon="save" />
                    <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Light" Text="Cancel" Icon="cancel" Click="@CancelButtonClick" class="ms-2" />
                </div>
            </div>
        </RadzenTemplateForm>
    </ChildContent>
</RadzenContent>

@code {
    [Parameter]
    public int CurrencyId { get; set; }
    Currency objCurrency = new();
    IEnumerable<RecordStatus>? listRecordStatus;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadRecordStatus();
        objCurrency = await currencyService.SelectById(CurrencyId);

        var user = (await AuthState!).User;
        var userEmail = user.Claims.Where(c => c.Type == ClaimTypes.Name).Select(x => x.Value).FirstOrDefault();
        var userAccount = userService.GetbyUsername(userEmail);
        objCurrency.UpdatedBy = userAccount.UserId;
    }

    protected async Task OnFormSubmit()
    {
        try
        {
            var result = await currencyService.Update(objCurrency);
            if (result == true)
            {
                Dialog.Close(true);
                Notification.Notify(NotificationSeverity.Success, summary: "Record Updated Successfully");
            }
            else
            {
                Notification.Notify(NotificationSeverity.Warning, summary: "This Record Already Exists");
            }
        }
        catch (Exception ex)
        {
            Notification.Notify(NotificationSeverity.Error, summary: ex.Message);
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        await Task.Run(() => Dialog.Close());
    }

    protected async Task LoadRecordStatus()
    {
        listRecordStatus = await Task.Run(recordStatusService.SelectAll);
        StateHasChanged();
    }
}